<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>${title}</title>
    <link rel="stylesheet" type="text/css" href="$resourceDir/rtg.css"/>
    <link rel="stylesheet" type="text/css" href="${resourceDir}/table.css"/>
    <script type="text/javascript" src="${resourceDir}/table.js"></script>
  </head>

  <body>
    <div id="dheader"><a id="lheader" href="http://www.realtimegenomics.com"><h1>${title}</h1></a></div>
    <div id="dbody">
${body}
    </div>
  </body>
</html>
