table.example {
	border:1px solid black;
	border-collapse:collapse;
}
table.example th, table.example td {
	border:1px solid #aaaaaa;
	padding: 2px 5px 2px 5px;
}
table.example thead th {
	background-color:#30BFED;
}
table.example tfoot td {
	background-color:#30BFED;
}

table.example tr.tbody_header {
	font-weight:bold;
	text-align:center;
	background-color:#30BFED;
}

table.example a.pagelink {
	padding-left:5px;
	padding-right:5px;
	border:1px solid #666666;
	margin:0px 5px 0px 5px;
}
table.example a.currentpage {
	background-color:yellow;
}
/* Striping */
tr.alternate {
	background-color:#ccffff;
}

/* Sorting */
th.table-sortable {
	cursor:pointer;
	background-image:url("sortable.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("sorted_up.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-sorted-desc {
	background-image:url("sorted_down.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-filtered {
	background-image:url("filter.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
select.table-autofilter {
	font-size:smaller;
}

/* Examples which stray from the default */
table.altstripe tr.alternate2 {
	background-color:#ccffff;
}

/* Sort Icon Styles */

table.sort07 th.table-sortable { background-image:none; }
table.sort07 th.table-sorted-asc { background-image:url("07_ascending.gif"); }
table.sort07 th.table-sorted-desc { background-image:url("07_descending.gif"); }

/* Icons box */
.iconset {
	margin:5px;
	border:1px solid #cccccc;
	border-color:#cccccc #666666 #666666 #cccccc;
	text-align:center;
	cursor:pointer;
	width:100px;
}
.iconset img {
	margin:3px;
}

/* Documentation */
tr.doc_section {
	font-weight:bold;
	text-align:center;
	background-color:#dddddd;
}

